<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tib-yordam</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script></head>
<body>
    <br>
    <hr>
    <h1>Tibbiy yordamga muhtojlar</h1>
    <br>
    <hr>
    <br>
    <div id="sorovlar" hx-get="{% url 'hammasi' %}" hx-trigger="every 10s">
    {% for sorov in sorovlar %}
        <h2>{{forloop.counter}}. {{sorov.ism}}, {{sorov.tugilgan_yil}}-yilda tug'ilgan</h2>
        <h2>Geo: {{sorov.longlitude}},  {{sorov.latitude}}</h2>
        <h2>{{sorov.tel_raqam}},  {{sorov.vaqt}}</h2>
        <br>
    {% endfor %}
</div>
</body>
</html>